<div class="row full-width full-height">
  <div class="col-10">
    <div class="row full-width full-height">
      <!-- <ngb-carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)" class="full-height"> -->
      <ngb-carousel #carousel (slide)="onSlide($event)" [interval]="100000" [pauseOnHover]="true" [pauseOnFocus]="true"
        [wrap]="true" class="full-height">
        <ng-template *ngFor="let model of filesDataConfig; let i = index;" ngbSlide [id]="''+i"
          class="col-12 full-height full-centered">
          <model-viewer style="height: 364px;" class="full-width" camera-controls
            [attr.camera-orbit]="model.camera_orbit" [attr.src]="model.src" alt="A 3D model of an astronaut"
            data-js-focus-visible="" ar-status="not-presenting">
          </model-viewer>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="row full-width">
      <div class="col-1 full-centered giro-label">
        0<sup>o</sup>
      </div>
      <div class="col-10">
        <input (ngModelChange)="zoomGiroChange()" type="range" [min]="0" [max]="360"
          [(ngModel)]="filesDataConfig[actualSlide].giro" step="1" style="min-width: 200px;">
      </div>
      <div class="col-1 full-centered giro-label">
        360<sup>o</sup>
      </div>
    </div>
  </div>
  <div class="col-1 full-centered">
    <div class="full-centered row full-height">
      <div class="col-12 full-centered zoom-label">
        02
      </div>
      <div class="col-12">
        <input (ngModelChange)="zoomGiroChange()" type="range" [min]="filesDataConfig[actualSlide].min"
          [max]="filesDataConfig[actualSlide].max" [(ngModel)]="filesDataConfig[actualSlide].actualZoom" step="1"
          style="transform: rotate(-90deg);min-width: 200px;">
      </div>
      <div class="col-12 full-centered zoom-label2">
        01
      </div>
    </div>
  </div>
</div>
