<div class="footer">
  <div class="row">
    <div class="col-3 full-centered" style="padding-left: 2%;">
      <img src="./assets/images/footer/logo_im.png">
    </div>
    <div class="col-3 full-centered">
      <img src="./assets/images/footer/cuu_design.png">
    </div>
    <div class="col-3 full-centered">
      <div class="row">
        <div class="col-12">
          <h1>Contactanos</h1>
          <h2>Teléfonos:</h2>
          <label>(+52)614 417 81 89 <br>
            +52) 614 417 82 00</label>
          <h2>Correo:</h2>
          <a href="mailto:contacto@ingmulti.com">
            <label class="pointer-hand">contacto@ingmulti.com</label>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3 full-centered" style="padding: 0px 2%;">
      <div class="row">
        <div class="col-12">
          <h1>Ubicación</h1>
          <label>Calle Pedro Vargas 7515, Colonia Laura Leticia C. P. 31120, Chihuahua, Chihuahua, México</label>
          <h2>¡Síguenos!</h2>
          <a href="https://www.facebook.com/Imtecnologiaaplicada/" target="_blank">
            <i class="fa-brands fa-facebook-square pointer-hand"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
