<div class="pa-t-40 pa-b-40">
  <div class="row full-width size-padding">
    <div class="col-12">
      <h1 class="ff-roboto">
        ¡Contactanos!
      </h1>
    </div>
    <div class="col-12">
      <div class="row pa-t-40">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-2 full-centered no-padding">
              <img src="./assets/images/pages/contact/location.png">
            </div>
            <div class="col-10 full-centered full-left">
              <label class="ff-roboto">
                Calle Pedro Vargas 7515, Colonia Lourdes C.P. 31120, Chihuahua, Chihuahua, México
              </label>
            </div>
            <div class="col-2 full-centered no-padding">
              <img src="./assets/images/pages/contact/face.png">
            </div>
            <div class="col-10 full-centered full-left">
              <label class="ff-roboto">
                <a href="https://www.facebook.com/Imtecnologiaaplicada/" target="_blank" class="ff-roboto">
                  https://www.facebook.com/Imtecnologiaaplicada/
                </a>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 pa-t-10">
          <div class="row">
            <div class="col-2 full-centered no-padding">
              <img src="./assets/images/pages/contact/mail.png">
            </div>
            <div class="col-10 full-centered full-left">
              <label class="ff-roboto">
                <a href="mailto:contacto@ingmulti.com">contacto@ingmulti.com</a><br>
                <a href="mailto:ventas@ingmulti.com">ventas@ingmulti.com</a>
              </label>
            </div>

            <div class="col-2 full-centered no-padding">
              <img class="pa-t-10" src="./assets/images/pages/contact/phone.png">
            </div>
            <div class="col-10 full-centered full-left">
              <label class="ff-roboto">
                (+52) 614 417 81 89<br>
                (+52) 614 417 82 00
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pa-t-40 pa-b-40">
  <div class="row full-width size-padding">
    <div class="col-12 no-padding map-container">
      <div id="mapa-mapbox-contact" class="map-container"> </div>
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3500.2987845743332!2d-106.11303475633372!3d28.68070759332878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ea43a95f6e1c83%3A0xa8f4bd3ac9e4174e!2sIM%20Tecnolog%C3%ADa%20Aplicada%20S.A.%20de%20C.V.!5e0!3m2!1ses!2smx!4v1649532705849!5m2!1ses!2smx"
        width="100%"  style="border:0;height:70em;" zoom="1" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </div>
  </div>
</div>
