<div class=" pa-t-40 pa-b-90">
  <div class="row full-width">
    <div class="col-6">
      <div class="row">
        <div class="col-2 full-right">
          <label class="no-margin vertical-description full-centered">
            Explora nuestros productos
            <img class="lateral-bar" src="/assets/images/pages/landing/barra.png">
          </label>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <img class="gawi-logo" src="/assets/images/pages/landing/gawi_logo.png">
            </div>
            <div class="col-12">
              <label class="pa-t-10 ff-roboto card-title black-color">
                Medidor de agua
              </label>
            </div>
            <div class="col-12">
              <label class="ff-roboto card-description">
                En IMTECH contamos con el único medidor mexicano de agua ultrasónico que existe, la más alta tecnología desde Chihuahua para tu hogar
              </label>
            </div>
          </div>
          <div class="row pa-t-30">
            <div class="col-12 ff-roboto">
              <label class="select-titles">
                ¡Selecciona el producto!
              </label>
            </div>
            <div class="col-12">
              <div class="row pa-r-10">
                <div class="col-8">
                  <div class="row">
                    <div class="col-4">
                      <div class="image-icon full-centered">
                        <img src="/assets/images/pages/landing/micro.png">
                      </div>
                    </div>
                    <div class="col-4 full-centered">
                      <div class="image-icon full-centered">
                        <img class="fire-image" src="/assets/images/pages/landing/fire.png">
                      </div>
                    </div>
                    <div class="col-4 full-right">
                      <img class="aqua-icon" src="/assets/images/pages/landing/agua.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-images-opts">
        <div class="col-1">

        </div>
        <div class="col-11">
          <div class="row">
            <div class="col-12">
              <div class="row pa-l-10">
                <div class="col-9">
                  <div class="row">
                    <div class="col-4 pa-5">
                      <div class="col-square full-centered">
                        <img src="/assets/images/pages/landing/micro-btn.png">
                      </div>
                    </div>
                    <div class="col-4 pa-5">
                      <div class="col-square full-centered">
                        <img class="gas-image" src="/assets/images/pages/landing/meter_gas_btn.png">
                      </div>
                    </div>
                    <div class="col-4 pa-5">
                      <div class="col-square full-centered">
                        <img src="/assets/images/pages/landing/meter_water_btn.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-models-viewer class="full-height"></app-models-viewer>
    </div>
  </div>
</div>

<div id="usDescription" class="row full-centered row-bg-us">
  <!-- <div class="max-container no-padding"> -->
    <div class="col-6">
      <img class="bg-image-layer" src="/assets/images/pages/landing/bg_us_layer.svg">
    </div>
    <div class="col-6 full-right" style="padding-right: 5%;">
      <label class="ff-roboto us-label white-color">
        Sobre nosotros
      </label>
    </div>
  <!-- </div> -->
</div>

<div class="">
  <!-- <div class="max-container no-padding"> -->
    <div class="row full-width no-margin">
      <div [class]="actualDescription == 0 ? 'description-col-size' : 'description-col-size closed'" (click)="changeUsData(0)">
        <div [style.width]="initialWidthDescription == -1 ? '100%' : initialWidthDescription+'px'">
          <h2 class="ff-roboto">
            Historia
          </h2>
          <p class="mission-vision-component ff-roboto full-left">
            A lo largo de los años, desde IM Tecnología Aplicada hasta IMTECH Desarrollos, hemos logrado consolidarnos como una empresa desarrolladora de productos con presencia en los estados y ciudades más importantes del país.
          </p>
        </div>
      </div>
      <div class="images-col-size " (click)="changeUsData(0)">
        <div class="full-width full-height full-centered gradient-overlay">
          <label class="ff-roboto">Historia</label>
          <!-- <img class="full-image" src="/assets/images/pages/landing/shadow_image.png"> -->
          <img src="/assets/images/pages/landing/gas_meter_description.png">
        </div>
      </div>

      <div [class]="actualDescription == 1 ? 'description-col-size' : 'description-col-size closed'" (click)="changeUsData(1)">
        <div [style.width]="initialWidthDescription == -1 ? '100%' : initialWidthDescription+'px'">
          <h2 class="ff-roboto">
            Misión
          </h2>
          <!-- style="text-align: left; width: 50%" -->
          <p class="mission-vision-component ff-roboto full-left">
            Brindar soluciones en diseño electrónico al convertir una idea en un producto innovador, a través de ofrecer el ciclo completo desde el diseño y desarrollo hasta la producción y actualización constante.
          </p>
        </div>
      </div>
      <div class="images-col-size" (click)="changeUsData(1)">
        <div class="full-width full-height full-centered gradient-overlay">
          <label class="ff-roboto">Misión</label>
          <!-- <img class="full-image" src="/assets/images/pages/landing/shadow_image.png"> -->
          <img src="/assets/images/pages/landing/water_meter_description.png">
        </div>
      </div>

      <div [class]="actualDescription == 2 ? 'description-col-size' : 'description-col-size closed'" (click)="changeUsData(2)">
        <div [style.width]="initialWidthDescription == -1 ? '100%' : initialWidthDescription+'px'">
          <h2 class="ff-roboto">
            Visión
          </h2>
          <p class="mission-vision-component ff-roboto full-left">
            Somos reconocidos por nuestros clientes nacionales e internacionales como una empresa consolidada en el desarrollo de productos electrónicos innovadores con capacidades de diseño y manufactura; fundamentados en procesos estandarizados, personal capacitado y rentabilidad superior al promedio.
          </p>
        </div>
      </div>
      <div class="images-col-size" (click)="changeUsData(2)">
        <div class="full-width full-height full-centered gradient-overlay">
          <label class="ff-roboto">Visión</label>
          <!-- <img class="full-image" src="/assets/images/pages/landing/shadow_image.png"> -->
          <img src="/assets/images/pages/landing/loger_description.png">
        </div>
      </div>

      <div [class]="actualDescription == -1 ? 'description-col-size' : 'description-col-size closed'">
        <div [style.width]="initialWidthDescription == -1 ? '100%' : initialWidthDescription+'px'" id="description-div">
          <h2 class="ff-roboto">
            ¿Que somos y que hacemos?
          </h2>
          <p class="mission-vision-component ff-roboto full-left">
            En IMTECH Desarrollos nos dedicamos al desarrollo de producto. Trabajamos en todas las etapas del proceso de desarrollo, desde la idea hasta la fabricación de prototipos, rondas piloto y producción, abarcando diversas áreas según la necesidad de tu producto.
          </p>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

<div id="servicesDescription" class="row full-centered row-us-services">
 <!--  <div class="max-container no-padding"> -->
    <div class="col-6 full-left" style="padding-left: 5%;">
      <label class="ff-roboto us-label white-color">
        Nuestros servicios
      </label>
    </div>
    <div class="col-6">
      <img class="bg-image-layer" src="/assets/images/pages/landing/bg_us_services_layer.svg">
    </div>
  <!-- </div> -->
</div>
<div class="row full-centered row-us-services-detail">
  <!-- <div class="max-container no-padding"> -->
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/concept.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color lgxxx-text">Concepto</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Esculpimos sobre las ideas originales de nuestros clientes para formar un concepto viable, ponemos en práctica nuestros conocimientos técnicos para experimentarlo en la realidad, proyectando un producto terminado.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/merca.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Mercadotecnia y <br>análisis de negocios</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Como, donde y quien comprara el producto; respondemos a esas y otras cuestiones del mercadeo: análisis de la competencia, mercado, producto, precios, canales de distribución, factibilidad, publicidad y relacionadas.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/micro.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Diseño<br>electrónico</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  El cerebro del producto, que determinara varias de sus características distinticas, diseñamos todo el entrono electrónico que sustentara sus conductas y reacciones. tablillas, PCB, contactos, pantallas entre otros.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/conf.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Diseño mecánico <br>e industrial</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Diseñamos la materia y el movimiento del producto, para determinar su comportamiento físico: ensambles, materiales,  movimientos, resistencias al desgaste, realización de pruebas, entre otras.
                </label>
              </div>
            </div>
          </button>
        </div>
        <!--  -->
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/dis.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Diseño de software<br>
                  y firmware</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Diseñamos las instrucciones que guiaran el producto, generamos su mente. a través de programación de sistemas computacionales, organizamos el entrono para controlarlo y conducirlo.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/prot.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color lgxxx-text">Prototipado</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Traemos a la realidad diversas versiones del producto para probarlas bajo diferentes condiciones, elaboramos corridas piloto que nos den información para terminarlo de la mejor manera.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/merca2.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Prueba de<br> mercado</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Colocamos el proyecto contra la realidad, usando los prototipos beta definimos la presentación del producto, quienes lo adquirirán, precios, cual será su marca, como lo haremos llegar a los clientes.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/suministros.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Cadena de<br> suministros</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Determinamos las necesidades para producción y quienes las cumplirán. todos los elementos necesarios para manufacturar el producto a nivel industrial deben considerarse.
                </label>
              </div>
            </div>
          </button>
        </div>
        <!--  -->
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/test.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Equipos de<br> prueba</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Generamos los equipos necesarios para las pruebas del proyecto durante su producción.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/cert.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Certificaciones</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Acopiamos y cumplimos los requisitos que exigen las agencias para obtener la certificación del producto.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/herr.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color md-text">Herramentales</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Proveemos todas las herramientas necesarias para el proceso de producción, ya sean inyectores de plástico, esténciles, programas pick’n play entre otros; todo lo que resulte necesario para elaborar el producto.
                </label>
              </div>
            </div>
          </button>
        </div>
        <div class="col-3">
          <button class="full-width full-centered">
            <div class="row hide-title">
              <div class="col-12 full-centered">
                <img src="/assets/images/pages/landing/services/rev.svg">
              </div>
              <div class="col-12 full-centered">
                <label class="white-color lgxxx-text">Revisión</label>
              </div>
            </div>

            <div class="row bar">
              <div class="col-12 full-centered">
                <label class="white-color lg-text">
                  Tomamos el producto terminado y expuesto al publico, para revisarlo, hacer correcciones y adecuaciones necesarias, desde la mercadotecnia. El diseño industrial, la producción, el diseño de prototipo o de concepto.
                </label>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>


<div class="row full-centered">
  <div class="col-12 full-centered pa-t-30 pa-b-20">
    <h1 class="success-cases-title ff-roboto">
      Casos de exito
    </h1>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-1">

      </div>
      <div class="col-10 success-cases-card" style="padding: 70px 0;">
        <div class="row">
          <div class="col-1">

          </div>
          <div class="col-10">
            <div class="row" style="max-height: 320px;">
              <div class="col-4 full-centered bottom-align">
                <div class="row">
                  <div class="col-12 full-centered">
                    <img src="/assets/images/pages/landing/cases/azteca.png">
                  </div>
                  <div class="col-12 full-centered title-product">
                    Medidor Azteca
                  </div>
                  <!-- <div class="col-12 full-centered">
                    <button type="button" class="btn btn-more-info">
                      Mas información
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="col-4 full-centered bottom-align">
                <div class="row">
                  <div class="col-12 full-centered">
                    <img src="/assets/images/pages/landing/cases/gps.png">
                  </div>
                  <div class="col-12 full-centered title-product">
                    GPS
                  </div>
                  <!-- <div class="col-12 full-centered">
                    <button type="button" class="btn btn-more-info">
                      Mas información
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="col-4 full-centered bottom-align">
                <div class="row">
                  <div class="col-12 full-centered">
                    <img src="/assets/images/pages/landing/cases/modulos.png">
                  </div>
                  <div class="col-12 full-centered title-product">
                    Modulos IM
                  </div>
                  <!-- <div class="col-12 full-centered">
                    <button type="button" class="btn btn-more-info">
                      Mas información
                    </button>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row pa-t-30">
              <div class="col-4 full-centered bottom-align">
                <div class="row">
                  <div class="col-12 full-centered">
                    <img src="/assets/images/pages/landing/cases/gas_sombra.png">
                  </div>
                  <div class="col-12 full-centered title-product">
                    Medidor de gas
                  </div>
                  <!-- <div class="col-12 full-centered">
                    <button type="button" class="btn btn-more-info">
                      Mas información
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="col-4 full-centered bottom-align">
                <div class="row">
                  <div class="col-12 full-centered">
                    <img class="water-meter-img" src="/assets/images/pages/landing/cases/meter_water.png">
                  </div>
                  <div class="col-12 full-centered title-product">
                    Medidor ultrasonico
                  </div>
                  <!-- <div class="col-12 full-centered">
                    <button type="button" class="btn btn-more-info">
                      Mas información
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="col-4 full-centered bottom-align">
                <div class="row">
                  <div class="col-12 full-centered">
                    <img class="water-meter-img" src="/assets/images/pages/landing/cases/eficacy.png">
                  </div>
                  <div class="col-12 full-centered title-product">
                    Medidor de eficiencia
                  </div>
                  <!-- <div class="col-12 full-centered">
                    <button type="button" class="btn btn-more-info">
                      Mas información
                    </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-1">

          </div>
        </div>
      </div>
      <div class="col-1">

      </div>
    </div>
  </div>
</div>


<div class="row full-centered">
  <div class="col-12 full-left pa-t-30 pa-b-20" style="padding-left: 5%;">
    <label class="ff-roboto us-label black-color">
      Nuestros clientes
    </label>
  </div>
</div>
<div class="row row-us-clients">
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/ADM.png">
  </div>
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/asteca.png">
  </div>
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/electro_full.png">
  </div>
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/foxconn.png">
  </div>
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/GCC.png">
  </div>
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/jabil.png">
  </div>
  <div class="col full-centered">
    <img class="bg-image-layer" src="/assets/images/pages/landing/clients/motherson.png">
  </div>
 </div>

 <div class="row full-centered row-innovation pa-b-70">
    <!-- <img class="bg-image-layer" src="/assets/images/pages/landing/bg_inovation.svg"> -->
    <div class="col-12 ff-roboto pa-t-60 white-color us-label" style="padding-left: 6%;">
      Innovación
    </div>
    <div class="col-12 pa-t-10">
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          <ng-template carouselSlide [id]="'1'" class="pa-10">
            <div class="row history-card">
              <div class="col-12 col-image">
                <img src="/assets/images/pages/banners/banner1.jpeg">
              </div>
              <div class="col-12 col-description">
                <h2 class="ff-roboto">Conoce nuestra variedad de productos</h2>
                <!-- <h3 class="ff-roboto">Octubre 6, 2021 | Noticias</h3>
                <label class="ff-roboto">El nuevo medidor de Gawi permite medir el consuimo de
                  agua domestico para llevar un control de tus habitos de consumo. </label> -->
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container >
          <ng-template carouselSlide [id]="'2'" class="pa-10">
            <div class="row history-card">
              <div class="col-12 col-image">
                <img src="/assets/images/pages/banners/banner2.jpeg">
              </div>
              <div class="col-12 col-description">
                <h2 class="ff-roboto">Empresa 100% chihuahuense</h2>
                <!-- <h3 class="ff-roboto">Octubre 6, 2021 | Noticias </h3>
                <label class="ff-roboto">El nuevo medidor de Gawi permite medir el consuimo de
                  agua domestico para llevar un control de tus habitos de consumo. </label> -->
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container >
          <ng-template carouselSlide [id]="'3'" class="pa-10">
            <div class="row history-card">
              <div class="col-12 col-image">
                <img src="/assets/images/pages/banners/banner3.jpeg">
              </div>
              <div class="col-12 col-description">
                <h2 class="ff-roboto">¡Materializa tus ideas!</h2>
                <!-- <h3 class="ff-roboto">Octubre 6, 2021 | Noticias </h3>
                <label class="ff-roboto">El nuevo medidor de Gawi permite medir el consuimo de
                  agua domestico para llevar un control de tus habitos de consumo. </label> -->
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container >
          <ng-template carouselSlide [id]="'3'"class="pa-10">
            <div class="row history-card">
              <div class="col-12 col-image">
                <img src="/assets/images/pages/banners/banner4.jpeg">
              </div>
              <div class="col-12 col-description">
                <h2 class="ff-roboto">Conoce nuestro equipo</h2>
                <!-- <h3 class="ff-roboto">Octubre 6, 2021 | Noticias </h3>
                <label class="ff-roboto">El nuevo medidor de Gawi permite medir el consuimo de
                  agua domestico para llevar un control de tus habitos de consumo. </label> -->
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
