/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* body{
    width: 100%;
    height: 100vh;
} */
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

#logo path:nth-child(2){
    stroke-dasharray: 431;
    stroke-dashoffset: 431;
    animation: line-anim 0.2s ease forwards 0.0s infinite;
}
#logo path:nth-child(3){
    stroke-dasharray: 394;
    stroke-dashoffset: 394;
    animation: line-anim 0.2s ease forwards 0.07s infinite;
}
#logo path:nth-child(4){
    stroke-dasharray: 513;
    stroke-dashoffset: 513;
    animation: line-anim 0.2s ease forwards 0.1s infinite;
}
#logo path:nth-child(5){
    stroke-dasharray: 385;
    stroke-dashoffset: 385;
    animation: line-anim 0.2s ease forwards 0.12s infinite;
}
#logo path:nth-child(6){
    stroke-dasharray: 429;
    stroke-dashoffset: 429;
    animation: line-anim 0.2s ease forwards 0.15s infinite;
}
#logo path:nth-child(7){
    stroke-dasharray: 394;
    stroke-dashoffset: 394;
    animation: line-anim 0.2s ease forwards 0.2s infinite;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
        fill: rgba(255, 86, 37, .75);
    }
}