<div class="bg-port pa-t-40 pa-b-40">
  <div class="row full-width" style="align-items: center;">
    <div class="col-6 full-centered" style="position:absolute;">
      <h1 class="ff-roboto">
        “Haga de sus <br>ideas una realidad”
      </h1>
    </div>
    <div class="col-12 full-right">
      <img style="width: 66%" src="./assets/images/pages/catalogue/img_port_med_cua2.png">
    </div>
  </div>
</div>

<div class="bg-catalogue-products pa-t-40 pa-b-40">
  <div class="row full-width size-padding">
    <div class="col-12 full-centered">
      <h1 class="ff-roboto">
        Tecnología e innovación
      </h1>
    </div>
    <div class="col-12 full-centered pa-b-20">
      <p class="ff-roboto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque urna rhoncus suspendisse vitae pharetra. Nunc lorem sit molestie maecenas elementum enim augue. Leo ipsum et pharetra arcu at consectetur nibh.
      </p>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <div class="row history-card">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_efi.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">MEDIDOR DE EFICIENCIA</h2>
              <label class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque.</label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row history-card">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/screen.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">PANTALLA MULTIMEDIA</h2>
              <label class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque.</label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row history-card">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_per.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">MEDIDOR DE EFICIENCIA</h2>
              <label class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque.</label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row history-card">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_per.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">MEDIDOR DE EFICIENCIA</h2>
              <label class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque.</label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row history-card">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_water.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">MEDIDOR DE EFICIENCIA</h2>
              <label class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque.</label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row history-card">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_gas.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">MEDIDOR DE EFICIENCIA</h2>
              <label class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit ac sed ipsum maecenas tristique nec gravida. Dui bibendum turpis volutpat leo tempor. Ipsum mauris pellentesque.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
