<div class="bg-port pa-t-40 pa-b-40">
  <div class="row full-width" style="align-items: center;">
    <div class="col-12 full-right">
      <img src="./assets/images/pages/catalogue/img_port_med_cua2.png">
    </div>
  </div>
  <div class="col-12 col-sm-6 full-centered">
    <h1 class="ff-roboto">
      “Haga de sus <br>ideas una realidad”
    </h1>
  </div>
</div>

<div class="bg-catalogue-products pa-t-40 pa-b-40">
  <div class="row full-width size-padding no-margin">
    <div class="col-12 full-centered">
      <h1 class="ff-roboto title-catalogue">
        Tecnología e innovación
      </h1>
    </div>
    <div class="col-12 full-centered pa-b-20">
      <p class="ff-roboto">
        <!-- aqui hay que poner algo interesante -->
      </p>
    </div>
    <div class="col-12">
      <div class="row no-margin">
        <div class="col-lg-4 col-md-6 product-padding">
          <div class="row history-card no-margin">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/immodule.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">Módulo IM</h2>
              <label class="ff-roboto">
                Son dispositivos enfocados en sistemas de automatización y control, por medio de un computador. Sin embargo, pueden ser adaptados a cualquier sistema de control que cuente con puertos disponibles para su comunicación.
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-padding">
          <div class="row history-card no-margin">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/datalogger.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">Datalogger</h2>

              <label class="ff-roboto">
                Es un sistema integral de control y monitoreo
                remoto de pozos de agua. Cuenta con comunicación celular, RF, Wifi, Bluetooth, o puede usar
                cualquier otro medio de comunicación que permita una conexión UART serial.
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-padding">
          <div class="row history-card no-margin">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/batterypack.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">Pack de baterías</h2>
              <label class="ff-roboto">
                Son usados para sistemas de rastreo de bajo consumo, para cargas o contenedores donde no se puede poner una batería externa. Se cuenta con dos tipos de battery packs, el primero con tres y el segundo con seis baterías..
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-padding pa-b-10">
          <div class="row history-card no-margin">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_per.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">Medidor de eficiencia</h2>
              <label class="ff-roboto">
                Sistema de monitoreo de tiempos de activación en procesos industriales. Transmite valores de tiempos de proceso y estado a través de Ethernet.
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-padding pa-b-10">
          <div class="row history-card no-margin">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/combody.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">Combodi</h2>
              <label class="ff-roboto" style="font-size:initial;">
                Es un dispositivo de comunicación inalámbrica, que convierte de un puerto RS232 a una señal de radio frecuencia, tiene un sistema de uso industrial, lo que permite que sea capaz de operar con cualquier módem de la marca Digi o compatible.
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 product-padding">
          <div class="row history-card no-margin">
            <div class="col-12 col-image">
              <img src="/assets/images/pages/catalogue/meter_gas.png">
            </div>
            <div class="col-12 col-description">
              <h2 class="ff-roboto pa-t-10 pa-b-10">Medidor de tanque estacionario</h2>
              <label class="ff-roboto" style="font-size:initial;">
                Este medidor permite un control
                del uso de gas, por medio de la aplicación para celular, a través de gráficas. Además con el modo
                de viaje, puede notificar variaciones grandes en los niveles de gas, mientras los usuarios no están
                en casa.
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
