
.registry-btn {
    padding: 5px 20px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    background-color: #ff5625;
    border: transparent;
    color: white;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: #ff5625;
        color: white;
        text-decoration: none;
        opacity: 0.7;
    }
}
.dropdown-btn {
    font-size: 30px;
    background-color: transparent;
    border: transparent;
    transition: 0.3s ease-in-out;
    &:focus {
        outline: transparent;
    }
    &:hover {
        color: #ff5625;
    }
}
.create-btn {
    padding: 10px 35px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    background-color: #ff5625;
    border: transparent;
    color: white;
    border-radius: 100px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}
.profile-type-btn {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    background-color: #201545;
    font-size: 16px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    border-radius: 0 0 15px 15px;
    color: white;
    text-decoration: none;
    border: none;
    transition: 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: white;
        opacity: 0.7;
    }
}
.search-btn {
    padding: 5px 20px;
    border: solid 1px #ff5625;
    background-color: #ff5625;
    color: white;
    font-weight: 900;
    font-family: "Muli", "Nunito Sans", sans-serif;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
    &:focus {
        outline: none !important;
    }
}
.see-more {
    padding: 5px 20px;
    border: solid 1px #ff5625;
    background-color: #ff5625;
    color: white;
    font-size: 20px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: white;
        opacity: 0.8;
    }
    &:focus {
        outline: none !important;
    }
}
.share-btn {
    padding: 5px 15px;
    background-color: #d4d4d4;
    border: none;
    border-radius: 10px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    font-size: 15px;
    color: #353535;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
    &:focus {
        outline: none !important;
    }
}
.btn-fixed {
    a {
        color: #353535;
        text-decoration: none;
        &:hover {
            color: #353535;
            text-decoration: none;
        }
    }
}
.close-btn-modal {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 5;
    color: white;
    opacity: 0.7;
    font-size: 30px;
    transition: 0.3s ease-in-out;
    &:hover {
        color: white;
        opacity: 1 !important;
    }
    &:focus {
        outline: none;
    }
}
.mobile-btn {
    padding: 5px 20px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    background-color: black;
    border: transparent;
    color: white;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: black;
        color: white;
        text-decoration: none;
        opacity: 0.7;
    }
}
.grad-btn {
    padding: 10px 35px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    background: linear-gradient(
        21deg,
        rgba(115, 0, 145, 1) 23%,
        rgba(255, 114, 44, 1) 61%
    );
    border: transparent;
    color: white;
    border-radius: 100px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        outline: none;
    }
}

.grad-btn:hover .grad-btn.disabled,
.grad-btn:disabled {
    background: linear-gradient(21deg, #7300918f 23%, #ff722c7d 61%);
    &:hover {
        transform: scale(1);
    }
}

.btn-outline-primary {
    padding: 10px 30px !important;
}

.sm-grad-btn {
    padding: 5px 20px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    background: linear-gradient(
        21deg,
        rgba(115, 0, 145, 1) 23%,
        rgba(255, 114, 44, 1) 61%
    );
    border: transparent;
    color: white;
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        outline: none;
    }
}
.green-btn {
    background-color: #69e781;
    padding: 10px 20px;
    color: #201545;
    transition: 0.3s ease-in-out;
    font-family: "Muli", "Nunito Sans", sans-serif;
    font-weight: 600;
    &:hover {
        color: #201545;
        text-decoration: none;
        opacity: 0.8;
    }
}
.trash-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 25px;
    transition: 0.3s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
    &:focus {
        outline: none;
    }
}

button:focus {
    /* outline: 1px dotted; */
    outline: 0px auto -webkit-focus-ring-color;
}

.btn{
    padding: 10px 18px;
    border-radius: 29px;
}

.add-card{
    padding: 10px 18px;
    border-radius: 29px;
    font-size: 17px;
    font-family: "Muli", "Nunito Sans", sans-serif;
    font-weight: 600;
}

.max-btn-animate:not([disabled]){
    transition: .3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
    &:focus{
        outline: none;
    }
}

.pointer-hand{
    cursor: pointer !important;
}